# NEXT_PUBLIC_API_BASE_URL=http://localhost:8000
NEXT_PUBLIC_API_BASE_URL=https://checklist-app-backend-wine.vercel.app/api/api/v1
NEXT_PUBLIC_APP_NAME=Checklist App
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=pk_test_51QXi3lIPQXUkGhzRk9LDV6CaLJAcKz0buKJbdfIBwjIM5hrjP7g38dNHcphnl80L4dFBgoebhkJBSm30EdkMXTHF00ZVSqF2MQ